<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autores de la aplicación</h1>
    <p>Alberto Monje y Rodrigo Barbado</p>
    <img src="/images/nosotros.jpg" width="360">

    <footer>
    	<a href="https://github.com/rodbarest/quiz/">Enlace al proyecto en Github</a>
    </footer>
  </body>
</html>
